/*
To Specifiy Font Families
font-family: 'Josefin Sans', sans-serif; 
font-family: 'Montserrat', sans-serif;  Regular 400, Semi-bold 600
font-family: 'Oswald', sans-serif;      Regular, 400 Medium 500, Bold 700*/

*{
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* Navbar */
.navbar {
  width: 100vw;
  position: fixed;
  z-index: 1000;

  background-color: #323033cc;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;

}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 10px;       /* Reduced top and bottom padding */
}

.navbar a:active {
  background-color: #F3F8F3;
  color: black;
  /* transition: all .25s ease; */
  border-radius: 5px;
}

.navbar nav a{
  border-bottom: 0px solid transparent;

  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: large;
}

.navbar nav a:hover{
  padding-bottom: 0px;
  border-bottom: 3px solid #F3F8F3;
  transition:  all .25s ease;
}

.navbar img {
  max-height: 35px;       /* Shrink the logo to 30px */
  padding-right: 5px;     /* Add some space between logo and text */
}

.navbar-brand {
  display: flex;
  align-items: center;    /* Center align items */
}

/* Style for stacked website name */
.website-name span {
  display: block;

  font-size: 300;
}

/* Media query: Navbar  */
@media screen and (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
  }
  
  .navbar nav {
    display: flex;
    align-content: center;
  }

  .navbar nav a {
    padding: 8px 10px; /* Adjust padding for smaller screens */
    margin-bottom:  0px ;
  }
  
  .navbar-brand {
    margin-bottom: 0px; /* Add space below the logo on smaller screens */
  }
  
  .navbar.navbar-responsive nav {
    display: block;
  }
}

/* Body and Content */
.image-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vw;
  overflow: hidden;
  position: relative;


}

.image-container img {
  position: relative;
  right: 10px;
  bottom: 10px;

  height: 180vw;
  object-fit: cover;
  -webkit-clip-path: square(40% at center);
  clip-path: square(40% at center);
}



