/*
To Specifiy Font Families
font-family: 'Josefin Sans', sans-serif; 
font-family: 'Montserrat', sans-serif;  Regular 400, Semi-bold 600
font-family: 'Oswald', sans-serif;      Regular, 400 Medium 500, Bold 700*/

*{
  margin: 0;
  padding: 0;
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  
  
}

body{
  background-color: #323033;
  display: flex;
  justify-content: center;
}

h1{
  color: #F3F8F3;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: xx-large;
  text-transform: uppercase;
  letter-spacing: 2px;


}

h2{
  /* color: #F3F8F3; */
  color: #76dce8;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: large;
  text-transform: uppercase;
}

p{
  color: #B3B0AC;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: medium;
}

/* Navbar */
.navbar {
  width: 100vw;
  position: fixed;
  z-index: 1000;
  
  background-color: #323033cc;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;

}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 10px;       /* Reduced top and bottom padding */
}

.navbar a:active {
  background-color: #F3F8F3;
  color: black;
  /* transition: all .25s ease; */
  border-radius: 5px;
}

.navbar nav a{
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: large;
  margin-right: 20px;
  text-transform: uppercase;
  border-bottom: 0px solid transparent;
}

.navbar nav a:hover{
  padding-bottom: 0px;
  border-bottom: 3px solid #F3F8F3;
  transition:  all .25s ease;
}

.navbar img {
  max-height: 35px;       /* Shrink the logo to 30px */
  padding-right: 5px;     /* Add some space between logo and text */
}

.navbar-brand {
  display: flex;
  align-items: center;    /* Center align items */
}

/* Style for stacked website name */
.website-name span {
  display: block;
  font-size: 300;
  text-transform: uppercase;

}

/* Media query: Navbar  */
@media screen and (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
  }
  
  .navbar nav {
    display: flex;
    align-content: center;
  }

  .navbar nav a {
    padding: 8px 10px; /* Adjust padding for smaller screens */
    margin-bottom:  0px ;
    margin-right: 10px;
  }
  
  .navbar-brand {
    margin-bottom: 0px; /* Add space below the logo on smaller screens */
  }
  
  .navbar.navbar-responsive nav {
    display: block;
  }
}

/* Body and Content */
/* .bio-card{
  display: none;
} */

.bio-text{
  margin: 20px;
}

.bio-text *{
  margin: 5px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-content: center;
  /* width: 100vw; */
  /* height: 85vw; */
  overflow: hidden;
  position: relative;
}

.image-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 5px; /* Adjusts the height of the gradient border */
  background: linear-gradient(to right,#aa9ff1, #76dce8, #aa9ff1,#aa9ff1, #76dce8); 
  animation: gradientAnimation 30s ease infinite; /* Use the defined animation */
}

@keyframes gradientAnimation {
  0% {
    /* width: 100%; */
     /* Start position */
    left: -50%;
  }
  25% {
    /* width: 200%; */
     /* Gradually increase width to 100% */
    left: -100%;
  }
  50%{
    left: -50%;
  }
  75%{
    left: 0%;
  }
  100%{
    left: -50%;
  }

}

.image-container img {
  width: 100vw;
  /* object-fit: contain; */
}


@media screen and (min-width: 768px) {
  .bio-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
   
    width: 90vw;
    height: 35vw;
  }

  /* .bio-text{
    margin-top: 100px;
  } */

  .image-container {
    display: flex;
    height: 100%;
    /* width: 35vw; */
    justify-content: center;
    align-content: center;
    overflow: hidden;
    position: relative;
    
  }

  .image-container img {
    height: 100%;
    object-fit: scale-down;
    clip-path: circle(40% at center);
  }
  
  @media screen and (min-width: 1800px) {
    .image-container {
      /* height: 100%; */
      width: 35vw;
      
    }
  }
} 


.interactions-buttons {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.interactions-buttons button{
  display: flex;
  margin: 10px;
  padding: 7px 15px;
  /* padding: 7px; */
  align-items: center;
  font-size: x-large; 
  /* font-size controls icon size */

  background-image: linear-gradient(to bottom right, #76dce8,  #aa9ff1);
  border: 4px solid rgba(255, 255, 255, 0.5);
  /* border-radius: 15px; */
  border-radius: 30px;
  transition: all 0.3s ease;

}

.interactions-buttons button:hover{
  border: 4px solid white;
  box-shadow: 0px 0px 6px white ;
  transition: all 0.5s ease;
}

/* Note ask if looks better with
  round buttons, center text
  square button, left text */

.interactions-buttons button p{
  display: flex;
  width: min-content;;
  text-align: left;
  /* text-align: center; */
  line-height: 20px;

  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;

}

.interactions-buttons .ri-download-line{
  /* Icon size inherits from parent container font-size */
  color: white;
  /* padding-right: 10px; */
  padding-right: 1rem;
}

.ri-mail-send-line{
  /* Icon size inherits from parent container font-size */
  color: white;
  /* padding-right: 10px; */
  padding-right: 1rem;
}

.socials-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;  
  font-size: 10vmin;
}

.ri-github-fill{
  /* color: #aa9ff1; */
  color: white;
  margin: 5px;
}

.ri-linkedin-box-fill{
  /* color: #aa9ff1; */
  color: white;
  margin: 5px;
}

.ri-more-fill{
  /* color: #aa9ff1; */
  color: white;
  margin: 0px;
}

body{
  display: block;
}

.image-slider{
  min-height: 30em;
  width: 100vmin;
  height: fit-content;
  /* height: 100vmin; */
  position: relative;
  
  background-image: url(images/img1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  
  transition: 0.3s;

}

.image-slider * {
  box-sizing: border-box;
}

.caption{
  background: linear-gradient(rgba(0,0,0,0), #000);
  position:absolute;
  bottom:0;
  left: 0;
  width: 100%;
  padding: 4em 1em 2em 1em;
  text-align: center;
}

.caption h1{
  margin: 0;
  color: #fff;
}

p{
  color: #8a8a8a;
}

.arrow-left, .arrow-right{
  background: #fff;
  position: absolute;
  top: 40%;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.arrow-left:hover, .arrow-right:hover{
  background: #000;
  color: #fff;
}

.arrow-left{
  left: 1em;
}

.arrow-right{
  right: 1em;
}

.image-fade{
  animation: imgFade 0.5s ease-in-out;
}

@keyframes imgFade{
  0% {opacity: 0;}
  100% {opacity: 1;}
}